.consultation {
  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background: $colorBlue;
  }

  &__wrapper-padding {
    padding: 60px 45px 60px 45px;
    @include for-up {
      margin-top: 60px;
      padding: 80px 0px 78px 0px;
    }
  }

  &__container {
  }

  &__title {
    max-width: 500px;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    color: #fff;
    &::after {
      background: #fff;
    }
    @include for-up {
      max-width: 100%;
    }
  }

  &__description {
    max-width: 500px;
    padding-top: 50px;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    @include for-up {
      max-width: 600px;
      padding-top: 62px;
    }
  }

  &__button {
    display: block;
    width: 320px;
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;
    color: $colorBlue;
    background: #fff;
  }

  &__img-container {
  }

  &__img {
    display: none;
    position: absolute;
    right: -143px;
    top: -59px;
    @include for-up {
      display: block;
    }
  }
}
